{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={% static 'shop/css/styles.css' %}>
    <title>Shop</title>
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <th>Наименование</th>
                <th>Описание</th>
                <th>Стоимость, USD</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }}</td>
                    <td><a href="{% url 'show_item' item.id %}">Оформить</a></td>
                </tr>
            {% endfor %}
        </table>

    </div>
</body>
</html>