<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
    <div class="container">
        <table>
            <tr>
                <td>Наименование</td>
                <td>Описание</td>
                <td>Стоимость, USD</td>
            </tr>
            {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }}</td>
                    <td><a href="{% url 'show_item' item.id %}">Просмотреть</a></td>
                </tr>
            {% endfor %}
        </table>

    </div>
</body>
</html>